.navbar{
    margin: -20px -20px 0px -20px;
    background-color: rgba(244, 241, 248, 0.947);
} 

.navbar ul{
    overflow: auto;
}

.navbar li
{
    float: right;
    list-style: none;
    margin-right: 20px;
    padding: 25px 0px 0px 20px ;
    
}

.navbar li a{
    padding: 23px 23px;
    text-decoration: none;
    color: rgb(167, 20, 20);
}

.ClubName{
    float: left;
    color: rgb(12, 2, 54);
    padding: 15px 15px;
    font-size: 34px;
}
.Clublogo
{
    
    float: left;
    border-radius: 50%;
    padding-top: 15px;
}