:root {
    --ab:  #039be5;
    --ao:  #ffa100;
    --pc:  #053349;
    --bg:  #ECEFF1;
    --bgb:  #f1f3f4;
    --bgh:  #e8eaed;
    --ptc:  #202124;
    --stc:  #4e5257;
    --ttc:  #bdc1c6;
    --shadow_old:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
    --tbshadow:  0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    --trans:  width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

* {
    box-sizing: border-box;
    user-select: none;
    padding: 0px;
    margin: 0px;
}

head {
    display: none;
}

meta {
    display: none;
}

body {
    min-height: 760px;
    /* font-family: Prompt, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
    overflow: hidden;
}
/* start loading */
/* div.loader-wrapper{
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

div.loader{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #000000;
  border-top-color: #ffff ;
  border-bottom-color: var(--ab);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

div.loader-wrapper div.loader-inner{
  border-top-color: var(--ao);
  border-bottom-color: var(--bg);
  animation-duration: 2.5s;
}

@keyframes rotate{
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform: scale(0.8) rotate(-360deg)
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
} */
/* end loading */


.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    z-index: 10;
    font-size: 15px;
    background-color: var(--pc);
}

.hidden {
   display: none; 
}



nav {
    display: block;
    overflow: hidden;
}

.navbar ul{
    overflow: hidden;
    /* vertical-align: middle; */
}

.navbar li
{
    float: right;
    list-style: none;
    margin-right: 20px;
    padding: 15px 0px 0px 25px ;
    
}

.navbar li a{
    /* padding: 0px 0px 18px 0px; */
    text-decoration: none;
    color: var(--bgb);
}

div.Clublogo img {
    float: left;
    left: 10px;
    position: fixed;
    justify-content: center;
    vertical-align: middle;
    top: -35px;
}

nav.navbar li a:hover {
    color: var(--ao);
    text-decoration: none;
}

div.top-info div.top-left .headline{
  font-size: 70px;
  color: var(--pc);
  font-weight: bold;
  
}

div.coreteam {
    display: flex;
    text-align: center;
    margin-top: 130px;
    justify-content: center;
    padding: 10px;
    align-content: center;
}

div.coreteam div.image {
    opacity: 1;
    margin-left: 40px;
    display: block;
    width: auto;
    height: 150px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    /* border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    background: transparent; */
    color: var(--pc);
}

div.coreteam div.image div.middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    backdrop-filter: blur(3px);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

div.coreteam div.image div.img {
    border-radius: 50%;
}
div.coreteam div.image div.img:hover {
    opacity: 0.3;
}
div.coreteam div.image:hover .middle{
    opacity: 1;
}

div.coreteam div.image div.text {
    background: var(--pc);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
}

/* contact us page  */
*:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  button, input {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 500;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
  }
  
  .container {
    margin: auto;
    margin-left: 70px;
    /* left: 0; */
    padding: 10px;
    width: 60%;
    height: 100%;
  }
  
  .screen {
    position: relative;
    background: var(--pc);
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #202124;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color:var(--ao);
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--ab);
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: var(--ttc);
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    /* text-align: right; */
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    /* color: #666; */
    color: var(--ttc);
  }
  
  .app-form-button {
    background: none;
    border: none;
    /* color: #ea1d6f; */
    font-size: 14px;
    cursor: pointer;
    outline: none;
    color: var(--ab);

  }
  
  .app-form-button:hover {
    color: var(--ao);
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
/* right part */
div.background div.info {
  justify-content: center;
  width: 40%;
  margin: auto;
  margin-left: 70px;
  /* margin-top: 250px; */
  padding: 10px;
  text-decoration: none;

}

div.info div.contact a{
  color: var(--pc);
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

div.info div.contact a:hover{
  color: var(--ab);
}

div.info div.contact span{
  justify-content: center;
  vertical-align: middle;
}

div.info div.social_media a:hover img:hover{
  opacity: 0.6;
  transform: scale(1.2);
}

/* end contact page */

/* gallery page start */

div.card{
  width: 200px;
  height: 280px;
  background-color: var(--pc);
  border-radius: 10px;
  outline: 1px solid #fff;
  outline-offset: -8px;
  box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
  margin: 20px;
  top: 70px;
}

div.card img.card-image{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: transform .75s;
}

div.card:hover img.card-image{
  transform: scale(1.15);
}

/* gallery page end */