:root {
    --ab:  #039be5;
    --ao:  #ffa100;
    --pc:  #053349;
    --bg:  #ECEFF1;
    --bgb:  #f1f3f4;
    --bgh:  #e8eaed;
    --ptc:  #202124;
    --stc:  #4e5257;
    --ttc:  #bdc1c6;
    --shadow_old:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
    --tbshadow:  0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    --trans:  width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

* {
    box-sizing: border-box;
    user-select: none;
    padding: 0px;
    margin: 0px;
    font font-family:"poppins",sans-serif;
}

head {
    display: none;
}

meta {
    display: none;
}

body {
    min-height: 760px;
    font-family: Prompt, sans-serif;
}

.navbarCustom {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    z-index: 10;
    font-size: 15px;
    background-color: var(--pc);
}

nav {
    display: block;
}

.navbarCustom ul{

}

.navbarCustom li
{
    float: right;
    list-style: none;
    margin-right: 20px;
    padding: 15px 0px 0px 25px ;

}
.allogo{
    margin-right: 10px;
}

.navbarCustom li a{

    text-decoration: none;
    color: var(--bgb);
}

.Clublogo img {
    float: left;
    left: 10px;
    position: fixed;
    top: -35px;
}

div.coreteam {
    display: flex;
    text-align: center;
    margin-top: 130px;
    padding: 10px;
    align-content: center;
}

div.coreteam div.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

div.coreteam div.image div.middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

div.coreteam div.image div.img {
    border-radius: 50%;
}
div.coreteam div.image div.img:hover {
    opacity: 0.3;
}
div.coreteam div.image:hover .middle{
    opacity: 1;
}

div.coreteam div.image div.text {
    background-color: var(--ab);
    color: var(--ptc);
    font-size: 16px;
    padding: 16px 32px;
}

.bottom-three{
    margin-bottom:1cm;
}

.contact{
    position:relative;
    min-height:100vh ;
    padding: 50px 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}

.contact .content{
    max: width 800px;
    text-align:center;
}

.contact .content h2{
    font-size:36px;
    font-weight:500;
    color:rgb(255, 255, 255);
}
.contact .content p{
    
    font-weight:500;
    color:rgb(0, 0, 0);
}
